.majorColor {
    background-color: #E98B2A;
}

.secColor {
    background-color: #F9BF45;
}

body {
    padding-top: 4.8rem;
}

.logo {
    width: 200px;
    margin: auto;
}

.nav-link:hover {
    color: black !important;
    font-weight: 700;
}

.orderlist {
    min-height: 50rem;
    max-height: 75rem;
}

.letter-spacing10 {
    letter-spacing: 50px;
}

.txttotal {
    color: #E98B2A;
    text-decoration-line: underline;
    text-decoration-style: double;
}
